#nav {
    background-color: #aabca2;
    display: flex;
    align-items: center;
}

.pagina {
    background-color: #e2e6e1;
}

#tituloNav {
    color: white;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: 500;
}

.subtituloNav {
    font-size: 20px;
    color: #70776d;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

#diamante {
    color: #aabca2;
}

#linea {
    background-color: #aabca2;
    height: 1px;
    width: 75%;
}

#logo {
    height: 80px;
    width: auto;
}

.menuItem {
    height: 90px;
    width: 90px;
    background-color: #aabca2;
    border-radius: 50%;
}

.tituloItem {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #464b44;
}

.link {
    text-decoration-color: #464b44;
}

.menu {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item2 {
    font-size: 20px;
}

.cartaTrabajosRecientes {
    background-color: #70776d;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.TrabajosRecientesCarrusel {
    display: flex !important;
    justify-content: space-evenly;
}

#carta1 {
    background-image: url(/multimedia/trabajosRecientes/trabajosRecientes2.jpg);
}

#carta2 {
    background-image: url(/multimedia/trabajosRecientes/trabajosRecientes3.svg);
}

#carta3 {
    background-image: url(/multimedia/trabajosRecientes/trabajosRecientes4.svg);
}

#carta4 {
    background-image: url(/multimedia/trabajosRecientes/trabajosRecientes2.jpg);
}

footer {
    background-color: #aabca2;
}

.logo {
    width: 130px;
    height: auto;
}

#lineaBlanca {
    background-color: white;
    height: 1px;
    width: 75%;
}

.footerTexto {
    color: white;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
}

.pequeño {
    font-size: 12px !important;
}

.iconosFooter {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin-top: 2px;
}

#footerAbajo {
    justify-content: space-between;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono {
    color: #464b44;
}

.linkFooter {
    color: #464b44;
    text-decoration-color: #464b44;
    font-style: italic;
}

#navProductos {
    background-color: #aabca2;
}

#prevGaleria {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 16 16' fill='%23464b44'%3e%3cpath d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z'/%3e%3c/svg%3e");
}

#nextGaleria {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 16 16' fill='%23464b44'%3e%3cpath d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/%3e%3c/svg%3e");
}

.imgPorAhora {
    background-color: #a5c598;
    width: 100%;
    height: 120px;
    border-radius: 10px;
}

.cartaProductos {
    width: 150px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.tituloProductos {
    font-size: 24px;
    color: #464b44;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin-top: 10px;
}

.precioProductos {
    font-size: 20px;
    color: #70776d;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
}

.descripcionProductos {
    font-size: 14px;
    color: #464b44;
    font-family: 'Dosis', sans-serif;
    text-align: justify;
}

#carrito {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.658);
}

#botonCarrito {
    background-color: #aabca2;
    border: 1px solid rgba(255, 255, 255, 0.128);
    border-radius: 3px;
}

#cuerpoCarrito {
    background-color: white;
    position: absolute;
    right: 10px;
    min-height: 50px;
    width: 180px;
    border-radius: 5px;
    display: none;
}